*{
    margin  : 0;
    padding : 0;
}
:root{
    --primaray      : #fff;
    --secondary     : #ffd04b;
    --tertiary      : #1fa467;
    --tertiaryHover : green;
    --secondaryHover: #fab011;
}

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 980px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .wrap{
    overflow:hidden;
    box-shadow: 3px 3px 30px #aaa;
    margin: 100px 0;
    display:block;
}
.container .wrap .left{
    background-image: url("Sign.jpg");
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    color: var(--primaray);
    float: left;
}
.container .wrap .left .text{
    padding-top: 20%;
    padding-left: 60px;
}
.container .wrap .left .text h1{
    font-size: 35px;
    padding-right: 0px;
    margin-bottom: 35px;
    letter-spacing: 0.03em;
}
.container .wrap .left .text h4{
    font-size: 20px;
    font-weight: 400;
    padding-right: 80px;
    line-height: 1.3;
    padding-bottom: 120px;

}
.container .wrap .right{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 5%;
}
.container .wrap .right .logo .logoTop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.container .wrap .right img{
    width: 70px;

}
.container .wrap .right .logo .logoTop h2{
    display: inline-block;
    padding-left: 15px;
    font-size: 30px;
    font-weight: 700 ;
}
.container .wrap .right .logo .logoTop h2 span:first-child{
    color: var(--tertiary);

}
.container .wrap .right .logo .logoTop h2 span:last-child{
    color: var(--secondary);
}
.container .wrap .right .logo p{
    font-size: 15px;
    margin-bottom: 60px;
    color: #4787f3;
    font-weight: 300;
}
.container .wrap .right .btn1{
    background: var(--tertiary);
    border: none;
    padding: 9px 117px;
    color: var(--primaray);
    font-size: 20px;
    margin-bottom: 16px;
    transition: .3s;
}
.container .wrap .right .btn2{
    background: var(--secondary);
    border: none;
    padding: 9px 60px;
    color: var(--primaray);
    font-size: 20px;
    transition: .3s;
    margin-bottom: 85px;
}
.container .wrap .right .btn1:hover{
    background: var(--tertiaryHover);
}
.container .wrap .right .btn2:hover{
    background: var(--secondaryHover);
}
.container .wrap .right .moral{
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--tertiary);
}